/* ---------------- Custommenu ---------------- */

/*cutom menu */
#custommenu .yui3-menu-label,
#custommenu .yui3-menuitem-content {cursor:pointer;}
#custommenu .yui3-menuitem-active {background-color:#1995CA;}
#custommenu .yui3-menuitem-active,
#custommenu .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu-horizontal .yui3-menu-label,
#custommenu .yui3-menu-horizontal .yui3-menu-content {background-image:none;background-position:right center;background-repeat:no-repeat;}
#custommenu .yui3-menu-label,
#custommenu .yui3-menu-label,
#custommenu .yui3-menu .yui3-menu .yui3-menu-label {
}
#custommenu .yui3-menu .yui3-menu .yui3-menu-label-menuvisible {
}

#custommenu {
    clear: both;
    background-color: #FFFFFF;
    border: 1px #B3B3B3 solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #E6E6E6;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 24px;
}

.yui3-skin-sam #page .yui3-menu-label,
.yui3-skin-sam #page .yui3-menuitem-content  {
    color: #000000;
    font-weight: normal;
    line-height: 25px;
}

.custom_menu_submenu .yui3-menu-label,
.custom_menu_submenu .yui3-menuitem-content {
    color: #000 !important;
    text-shadow: none !important;
    line-height: 25px;
}

.yui3-skin-sam #page .yui3-menu-label.yui3-menu-label-active,
.yui3-skin-sam #page .yui3-menu-label.yui3-menu-label-menuvisible,
.yui3-skin-sam #page .yui3-menuitem-active .yui3-menuitem-content {
    color: #000;
    background-color: #1995CA;
    border: 1px solid #B3B3B3 !important;
}

.yui3-skin-sam #page .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menuitem-content  {
    border: none !important;
}

.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label,
.yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content {
    border-color:#B3B3B3;
    border-style:solid;
    border-width:0px;
}

#page .custom_menu_submenu {
    border: 1px solid #B3B3B3 !important;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #E6E6E6;
    background: #FFFFFF;
}